/* 🔹 Sección de Bienvenida */
.bienvenida-container {
  display: flex;
  align-items: center;
}

.home-container{
  padding: 4vw 11vw;
  background: #e5e4e0;
}

/* 🔹 Contenedor del texto */
.bienvenida-content {
  width: 40%;
  height: 100%;
  box-sizing: border-box;
}

.port-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  box-sizing: border-box;
}


/* 🔹 Estilo del título */
.bienvenida-text h1 {
  font-size: 3.8rem;
  font-weight: 700;
  color: #373a32;
  line-height: 1.2;
  margin-bottom: 15px;
  opacity: 1; /* Asegurar que el texto sea visible */
  animation: fadeInUp 1.5s cubic-bezier(0.25, 1, 0.5, 1);
  font-family: 'Playfair Display', serif;
}

/* 🔹 Subtítulo */
.bienvenida-text p {
  font-size: 1.4rem;
  color: #373a32;
  font-weight: 400;
  margin-bottom: 25px;
  opacity: 1; /* Evitar que desaparezca */
  animation: fadeInUp 2s cubic-bezier(0.25, 1, 0.5, 1);
  font-family: 'Playfair Display', serif;
}

/* 🔹 Botones */
.bienvenida-buttons button {
  padding: 18px 49px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  background: #373a32;
  color: white;
  transition: all 0.3s ease-in-out;
  animation: fadeInScale 2.5s ease-out forwards;
}

.bienvenida-buttons button:hover {
  animation: buttonHover 0.6s ease-in-out;
  background: #F4E1C1;
  color: #2C3A24;
}

/* 🔹 Contenedor de la imagen */

/* 🔹 Imagen */
.port-image {
  width: 70%;
  border-radius: 15px;
  opacity: 1;
  animation: fadeInScale 1.8s ease-out forwards;
  animation-delay: 0.5s;
  object-fit: cover;
  height: 60vh;
}

/* 🔹 Transición suave para imágenes y videos */
.fade {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


/* 🔹 Adaptación a móviles */
@media (max-width: 1024px) {
  .bienvenida-container {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 60px 30px;
  }

  .bienvenida-content {
    max-width: 90%;
    padding: 0;
  }

  .port-slide {
    width: 100%;
    height: auto;
  }

  .port-image {
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 300px; /* Ajustar tamaño en pantallas pequeñas */
    border-radius: 20px; /* Asegurar bordes redondeados */
  }
}

